%h1 Top Rated Vines

- @vines.each do |vine|
  %ul
    %li= link_to vine.title, vine
    %li= vine.score

//    %li= link_to 'Edit', edit_vine_path(vine)



//    %ul
//      %li= link_to 'Show', vine
//
//      %li= link_to 'Destroy', vine, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br

= link_to 'New Vine', new_vine_path
